<!DOCTYPE html>
<HTML lang="en">
  <HEAD>
    <TITLE>HBNB</TITLE>
  </HEAD>
  <BODY>
    {% if allstates is defined %}
    <H1>States</H1>
    <UL>{% for state in allstates.values()|sort(attribute="name") %}
      <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
	{% endfor %}
      </UL>
	{% else %}
	{% if statewid is none %}
	<H1>Not found!</H1>
	{% else %}
	<H1>State: {{ statewid.name }}</H1>
	<H3>Cities:</H3>
	<UL>
	{% for city in statewid.cities|sort(attribute="name") %}
	<LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
	{% endfor %}
	</UL>
	{% endif %}
	{% endif %}
  </BODY>
</HTML>
